@import url('https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
 @import url('https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo');
 @import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
      52.52% 32.71% at 50% 97.66%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    #02191d;
  height: 100vh;
}

.Button {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid rgba(213, 234, 0, 0.1);
  background: #fff;
}
.Button .Bp {
  margin: 0;
  color: #0a0c11;
  font-family: JejuMyeongjo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
}
@media screen and (max-width: 580px) {
  .Button {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid rgba(213, 234, 0, 0.1);
    background: #fff;
  }
  .Button.Bp {
    color: #0a0c11;
    font-family: JejuMyeongjo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
  }
}
